<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Emergency Compliment</title>
  <style>body {background: {{color}};}</style>
</head>
<body>
  <div>
    {{#if name}}
      <h1>{{name}}, {{compliment}}</h1>
    {{else}}
       <h1>{{compliment}}</h1>
    {{/if}}
  </div>
</body>
</html>